<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzWidth]="width" [nzReverseArrow]="isReverseArrow">
    <div class="logo">
    </div>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu>
        <span title><i nz-icon type="picture"></i><span class="nav-text">相册管理</span></span>
        <ul>
          <li nz-menu-item routerLink="/sourceproject">源相册管理</li>
          <li nz-menu-item routerLink="/sprettyproject">发布相册管理</li>
        </ul>
      </li>
      <li nz-submenu>
        <span title><i nz-icon type="team"></i><span class="nav-text">Team</span></span>
        <ul>
          <li nz-menu-item>Team 1</li>
          <li nz-menu-item>Team 2</li>
        </ul>
      </li>
      <li nz-menu-item><span><i nz-icon type="user"></i><span class="nav-text">退出登录</span></span></li>
    </ul>
  </nz-sider>
  <nz-layout>
    <router-outlet></router-outlet>

    <nz-footer style="text-align: center;">Johnson ©2018 三亚椰林海网络科技有限公司</nz-footer>
  </nz-layout>
</nz-layout>
