<div class="container-login">
  <form nz-form [formGroup]="bit.form" class="login-form" (submit)="bit.submit($event,submit)">
    <nz-form-item>
      <nz-form-control>
        <div class="title-login">{{bit.l['debug']}}</div>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <nz-input-group [nzSuffix]="usernameSuffix" nzPrefixIcon="anticon anticon-user">
          <input type="number" nz-input [placeholder]="bit.l['mobile']" formControlName="mobile">
        </nz-input-group>
        <ng-template #usernameSuffix>
          <i class="anticon anticon-close-circle" *ngIf="bit.form.get('mobile').value"
             (click)="bit.form.get('mobile').reset()"></i>
        </ng-template>
        <nz-form-explain *ngIf="bit.formExplain('mobile')">
          <ng-container *ngIf="bit.explain('mobile','required')">
            {{bit.l['username_require']}}
          </ng-container>
          <ng-container *ngIf="bit.explain('mobile','minlength')||bit.explain('mobile','maxlength')">
            {{bit.l['username_correctly']}}
          </ng-container>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control>
        <nz-input-group [nzSuffix]="passwordSuffix" nzPrefixIcon="anticon anticon-lock">
          <input type="password" nz-input [placeholder]="bit.l['password']" formControlName="password">
        </nz-input-group>
        <ng-template #passwordSuffix>
          <i class="anticon anticon-close-circle" *ngIf="bit.form.get('password').value"
             (click)="bit.form.get('password').reset()">
          </i>
        </ng-template>
        <nz-form-explain *ngIf="bit.formExplain('password')">
          <ng-container *ngIf="bit.explain('password','required')">
            {{bit.l['password_require']}}
          </ng-container>
          <ng-container *ngIf="bit.explain('password','minlength')||bit.explain('password','maxlength')">
            {{bit.l['password_correctly']}}
          </ng-container>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control>
        <button nz-button [nzLoading]="loading" [disabled]="!bit.form.valid"
                class="login-form-button" nzType="primary">
          {{bit.l['login']}}
        </button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
